name: Build and create artifacts

on:
  # Allows re-use in other workflows
  workflow_call:
    inputs:
      disease_type:
        required: true
        type: string

jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04
    env:
      scons_option: ${{ inputs.disease_type != 'All' && format('--Disease={0}', inputs.disease_type) || ' ' }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Build executable
        run: |
          sudo apt-get update
          sudo apt-get upgrade -y
          sudo apt-get install -y python3-dev
          sudo apt-get install -y libmpich-dev
          sudo apt-get install -y libsqlite3-dev
          sudo apt-get install -y git
          sudo apt-get install -y libc-dev
          sudo apt-get install -y g++
          sudo apt-get install -y scons
          sudo apt-get install -y libboost-all-dev
          sudo apt-get clean
          export USER=GitHubAction
          scons --Release --jobs=4 ${{ env.scons_option }}
          strip build/x64/Release/Eradication/Eradication
          ./build/x64/Release/Eradication/Eradication --get-schema --schema-path schema.json
          grep DTK_Version schema.json | sed 's/[^0-9.]//g' > version
      - name: Archive binary
        uses: actions/upload-artifact@v6
        with:
          name: Eradication
          path: ./build/x64/Release/Eradication/Eradication
      - name: Archive schema
        uses: actions/upload-artifact@v6
        with:
          name: schema.json
          path: schema.json
      - name: Archive version
        uses: actions/upload-artifact@v6
        with:
          name: version
          path: version
      - name: Archive component tests
        if: ${{ inputs.disease_type == 'All' }}
        uses: actions/upload-artifact@v6
        with:
          name: componentTests
          path: ./build/x64/Release/componentTests/componentTests
